R2026x_3DSpace/3dspace/awl/SubProductLineConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="productlines">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productline" type="productline" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="productline">
        <xs:sequence>
            <xs:element name="subproductline" type="subproductline" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute name="type" type="validatetype" use="required"/>
    </xs:complexType>
    <xs:complexType name="subproductline">
        <xs:simpleContent>
            <xs:extension base="validatesubproduct">
                <xs:attribute type="validatetype" name="type" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="validatesubproduct">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:length value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="validatetype">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

