R2026x_3DSpace/resources/resources/param/DELPPWApplications/xsd/AuxiliaryColumnConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright DASSAULT SYSTEMES 2013 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="DS_DELPPWConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Label" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="dataIndex" use="required"/>
                <xs:attribute type="xs:string" name="dicoType"/>
                <xs:attribute type="xs:string" name="entity"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
	  <xs:attribute name="version" type="xs:string" fixed="2.0" use="required" />
      <xs:attribute type="xs:string" name="Title"/>
      <xs:attribute type="xs:string" name="Description"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
